<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body add-cart-box text-center">
        <p>Вы только что добавили товар в <br>корзину:</p>
        <h4 id="productTitle"></h4>
        <img src="" id="productImage" width="100" height="100" alt="adding cart image">
        <div class="btn-actions">
          <a href="cart.html">
            <button class="btn-primary">Перейти в корзину</button>
          </a>
          <a href="#">
            <button class="btn-primary" data-dismiss="modal">Продолжить покупки</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>