{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
  {% include 'included/breadcrumb.html' with page_name='Оформление' %}

  <div class="container">

    <ul class="checkout-progress-bar">
      <li>
        <span>Доставка</span>
      </li>
      <li class="active">
        <span>Оплата</span>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-8 order-lg-first">
        <div class="checkout-payment">
          <h2 class="step-title">Способ оплаты:</h2>

          <div class="checkout-step-shipping">
            <table class="table table-step-shipping">
              <tbody>
              <tr>
                <td><input type="radio" name="payment-method" value="card"></td>
                <td>Предоплата банковской картой</td>
              </tr>

              <tr>
                <td><input type="radio" name="payment-method" value="receipt"></td>
                <td>Оплата при получении</td>
              </tr>
              </tbody>
            </table>
          </div><!-- End .checkout-step-shipping -->

          <div class="clearfix">
            <a href="{% url 'page_development' %}" class="btn btn-primary float-right">Разместить заказ</a>
          </div><!-- End .clearfix -->
        </div><!-- End .checkout-payment -->
      </div><!-- End .col-lg-8 -->

      {% include 'cart/included/order_summary.html' %}
    </div><!-- End .row -->
  </div><!-- End .container -->

</main><!-- End .main -->
{% endblock %}