{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main mb-4">
  {% include 'included/breadcrumb.html' with page_name='Оформление' %}

  <div class="container">

    <ul class="checkout-progress-bar">
      <li class="active">
        <span>Доставка</span>
      </li>
      <li>
        <span>Оплата</span>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-8">
        <ul class="checkout-steps">
          <li>
            <h2 class="step-title">Адрес доставки</h2>

            <form action="#">
              <div class="form-group required-field">
                <label>Email </label>
                <div class="form-control-tooltip">
                  <input type="email" class="form-control" required>
                  <span class="input-tooltip" data-toggle="tooltip"
                        title="Мы вышлем вам подтверждение по данному адресу."
                        data-placement="right"><i class="icon-question-circle"></i></span>
                </div><!-- End .form-control-tooltip -->
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Пароль </label>
                <input type="password" class="form-control" required>
              </div><!-- End .form-group -->

              <p>Если у вас уже есть учетная запись, войдите в систему или продолжите в качестве гостя.</p>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary">ВОЙТИ</button>
                <a href="forgot-password.html" class="forget-pass"> Забыли пароль?</a>
              </div><!-- End .form-footer -->
            </form>

            <form action="#">
              <div class="form-group required-field">
                <label>Имя </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Фамилия </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Улица </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Номер дома </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Город </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label>Область/Край</label>
                <div class="select-custom">
                  <select class="form-control">
                    <option value="">Выберите регион</option>
                    <option value="orl">Орловская</option>
                    <option value="khv">Хабаровский</option>
                  </select>
                </div><!-- End .select-custom -->
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Почтовый индекс </label>
                <input type="text" class="form-control" required>
              </div><!-- End .form-group -->

              <div class="form-group required-field">
                <label>Телефонный номер </label>
                <div class="form-control-tooltip">
                  <input type="tel" class="form-control" required>
                  <span class="input-tooltip" data-toggle="tooltip" title="По вопросам доставки."
                        data-placement="right"><i class="icon-question-circle"></i></span>
                </div><!-- End .form-control-tooltip -->
              </div><!-- End .form-group -->
            </form>
          </li>

          <li>
{% include 'cart/included/shipping_method.html' %}
          </li>
        </ul>
      </div><!-- End .col-lg-8 -->

{% include 'cart/included/order_summary.html' %}
    </div><!-- End .row -->

    <div class="row">
      <div class="col-lg-8">
        <div class="checkout-steps-action">
          <a href="{% url 'payment' %}" class="btn btn-primary float-right">Далее</a>
        </div><!-- End .checkout-steps-action -->
      </div><!-- End .col-lg-8 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

</main><!-- End .main -->
{% endblock %}