{% load static %}
<div class="product-single-container product-single-default product-quick-view">
  <div class="row">
    <div class="col-lg-6 col-md-6 product-single-gallery">
      <div class="product-slider-container product-item">
        <div class="product-single-carousel owl-carousel owl-theme">
          <div class="product-item">
            <img class="product-single-image" src="{{ product.image.url }}"
                 data-zoom-image="{{ product.image.url }}"/>
          </div>
          {% for item in images %}
          <div class="product-item">
            <img class="product-single-image" src="{{ item.image.url }}"
                 data-zoom-image="{{ item.image.url }}"/>
          </div>
          {% endfor %}
        </div>
        <!-- End .product-single-carousel -->
      </div>
      <div class="prod-thumbnail row owl-dots" id='carousel-custom-dots'>
        <div class="col-3 owl-dot">
          <img src="{{ product.image.url }}"/>
        </div>
        {% for item in images %}
        <div class="col-3 owl-dot">
          <img src="{{ item.image.url }}"/>
        </div>
        {% endfor %}
      </div>
    </div><!-- End .col-lg-7 -->

    <div class="col-lg-6 col-md-6">
      <div class="product-single-details">
        <h1 class="product-title">{{ product.name }}</h1>

        <div class="ratings-container">
          <div class="product-ratings">
            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
          </div><!-- End .product-ratings -->

          <a href="{% url 'page_development' %}" class="rating-link">( 6 Reviews )</a>
        </div><!-- End .product-container -->

        <div class="price-box">
          {% if product.discount %}
          <span class="old-price">{{ product.price }}</span><span>&nbsp;руб.</span>
          {% endif %}
          <span class="product-price">{{ product.get_discount_price }}</span><span>&nbsp;руб.</span>
        </div><!-- End .price-box -->

        <div class="product-desc">
          <p>{{ product.description }}</p>
        </div><!-- End .product-desc -->

        <div class="product-action">
          <div class="product-single-qty">
            <input class="horizontal-quantity form-control" type="text">
          </div><!-- End .product-single-qty -->

          <a href="{% url 'cart' %}" class="paction add-cart">Добавить в корзину</a>
        </div><!-- End .product-action -->

      </div><!-- End .product-single-details -->
    </div><!-- End .col-lg-5 -->
  </div><!-- End .row -->
</div><!-- End .product-single-container -->