                <ul>
                  <li>
                    <a href="#">Велосипеды</a>
                    <ul>
                      <li><a href="#">Для взрослых</a></li>
                      <li><a href="#">Для детей</a></li>
                      <li><a href="#">Двухколесные</a></li>
                      <li><a href="#">Трехколесные</a></li>
                      <li><a href="#">Горные</a></li>
                      <li><a href="#">Складные</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Самокаты</a>
                    <ul>
                      <li><a href="#">Для взрослых</a></li>
                      <li><a href="#">Для детей</a></li>
                      <li><a href="#">Двухколесные</a></li>
                      <li><a href="#">Трехколесные</a></li>
                      <li><a href="#">Складные</a></li>
                      <li><a href="#">Электросамокаты</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Прочие товары</a>
                    <ul>
                      <li><a href="#">Аксессуары</a></li>
                      <li><a href="#">Запчасти</a></li>
                    </ul>
                  </li>
                </ul>