      <div class="product-cat-box owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
        'margin': 0,
        'items': 2,
        'loop' : false,
        'autoplay' : false,
        'dots': false,
        'nav' : true,
        'responsive': {
          '0' : {
            'items' : 2
          },
          '768': {
            'items': 3
          },
          '992' : {
            'items' : 4
          },
          '1200': {
            'items': 5
          }
        }
      }">
        <div class="product-cat">
          <i class="icon-category-saddle"></i>
          <span>Седла</span>
        </div>
        <div class="product-cat">
          <i class="icon-category-pedals font-lg"></i>
          <span>Педали</span>
        </div>
        <div class="product-cat">
          <i class="icon-category-frames font-lg"></i>
          <span>Рамы</span>
        </div>
        <div class="product-cat">
          <i class="icon-category-chains"></i>
          <span>Цепи</span>
        </div>
        <div class="product-cat">
          <i class="icon-category-tools"></i>
          <span>Ключи</span>
        </div>
      </div>