{% extends 'base.html' %}

{% block content %}
<main class="main">
  <div class="mt-10"></div>

  <div class="container">
    <div class="heading mb-4">
      <h2 class="title">Изменить пароль</h2>
      <p>Пожалуйста, введите и подтвердите свой пароль.</p>
    </div><!-- End .heading -->

    {% if validlink %}
    <form action="" method="post">
      {% csrf_token %}

      <div class="form-error">{{ form.non_field_errors }}</div>

      <div class="form-group required-field">
        <label for="{{ form.new_password1.id_for_label }}">Пароль</label>
        {{ form.new_password1 }}
        <div class="form-error">{{ form.new_password1.errors }}</div>
      </div>

      <div class="form-group required-field">
        <label for="{{ form.new_password2.id_for_label }}">Подтвердить пароль</label>
        {{ form.new_password2 }}
        <div class="form-error">{{ form.new_password2.errors }}</div>
      </div>

      <div class="form-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div><!-- End .form-footer -->
    </form>
    {% else %}
    <h1>Ошибка при смене пароля!!!</h1>
    <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста,
      запросите новый сброс пароля.</p>
    {% endif %}
  </div><!-- End .container -->

  <div class="mb-10"></div>

</main><!-- End .main -->
{% endblock %}