{% load static %}
            <div class="testimonial">
              <div class="testimonial-owner">
                <figure>
                  <img src="{% static 'images/clients/client1.png' %}" alt="Фото клиента">
                </figure>
                <div>
                  <h4 class="testimonial-title">Василий Пупкин</h4>
                  <span>Довольный покупатель</span>
                </div>
              </div><!-- End .testimonial-owner -->
              <blockquote>
                <p>Прежде всего, реализация намеченных плановых заданий напрямую зависит от соответствующих условий
                  активизации!</p>
              </blockquote>
            </div><!-- End .testimonial -->
            <div class="testimonial">
              <div class="testimonial-owner">
                <figure>
                  <img src="{% static 'images/clients/client2.png' %}" alt="Фото клиента">
                </figure>
                <div>
                  <h4 class="testimonial-title">Иван Сидоров</h4>
                  <span>Довольный покупатель</span>
                </div>
              </div><!-- End .testimonial-owner -->
              <blockquote>
                <p>Задача организации, в особенности же перспективное планирование играет важную роль в формировании как
                  самодостаточных, так и внешне зависимых концептуальных решений.</p>
              </blockquote>
            </div><!-- End .testimonial -->
