{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="home main">
{% include 'information/included/top_slider.html' %}

    <div class="container">
      {% block product-panel-top %}
      {% include 'information/included/product_slider.html' with heading='Наиболее популярные товары' %}
      {% endblock %}

<!-- Spare parts -->
{% include 'information/included/spare_parts.html' %}
    </div>

<!-- Home banner -->
{% include 'information/included/home_banner.html' %}

    <div class="container">
      {% block product-panel-bottom %}
      {% include 'information/included/product_slider.html' with heading='Сопутствующие товары' %}
      {% endblock %}

<!-- Discount banner -->
{% include 'information/included/discount_banner.html' %}
    </div>
  </main><!-- End .main -->
{% endblock %}

{% block add_cart_modal %}
{% include 'included/add_cart_modal.html' %}
{% endblock %}
