{% extends 'base.html' %}

{% block content %}
<main class="main">
  {% include 'included/breadcrumb.html' with page_name='Личный кабинет' %}

  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-lg-last dashboard-content">
        <h2>Панель управления</h2>

        <div class="alert alert-success alert-intro" role="alert">
          Спасибо за регистрацию в интернет-магазине "ВелоСам"!
        </div><!-- End .alert -->

        <div class="alert alert-success" role="alert">
          Приветствуем, <strong>Василий Пупкин!</strong> На панели управления учетной записи у вас есть возможность
          просмотреть вашу недавнюю активность и обновить информацию о вашей учетной записи. Выберите ссылку ниже, чтобы
          просмотреть или отредактировать информацию.
        </div><!-- End .alert -->

        <div class="mb-4"></div><!-- margin -->

        <h3>Данные учетной записи</h3>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Контактная информация
                <a href="{% url 'account' %}" class="card-edit">Править</a>
              </div><!-- End .card-header -->

              <div class="card-body">
                <p>
                  Василий Пупкин<br>
                  vasyapupkin@gmail.com<br>
                  <a href="{% url 'account' %}">Изменить пароль</a>
                </p>
              </div><!-- End .card-body -->
            </div><!-- End .card -->
          </div><!-- End .col-md-6 -->

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Мои заказы
                <a href="{% url 'page_development' %}" class="card-edit">Править</a>
              </div><!-- End .card-header -->

              <div class="card-body">
                <p>В настоящее время у вас нет ни одного заказа.</p>
              </div><!-- End .card-body -->
            </div><!-- End .card -->
          </div><!-- End .col-md-6 -->
        </div><!-- End .row -->

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Адресная книга
                <a href="{% url 'page_development' %}" class="card-edit">Править</a>
              </div><!-- End .card-header -->

              <div class="card-body">
                <h4 class="">Адрес доставки по умолчанию</h4>
                <address>
                  Вы не установили адрес доставки по умолчанию.<br>
                  <a href="{% url 'page_development' %}">Редактировать адрес</a>
                </address>
              </div><!-- End .card-body -->
            </div><!-- End .card -->
          </div>
        </div>
      </div><!-- End .col-lg-9 -->

      <aside class="sidebar col-lg-3">
        <div class="widget widget-dashboard">
          <h3 class="widget-title">Моя учетная запись</h3>

          <ul class="list">
            <li class="active"><a>Панель управления</a></li>
            <li><a href="{% url 'account' %}">Данные учетной записи</a></li>
            <li><a href="{% url 'page_development' %}">Адресная книга</a></li>
            <li><a href="{% url 'page_development' %}">Мои заказы</a></li>
          </ul>
        </div><!-- End .widget -->
      </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

</main><!-- End .main -->
{% endblock %}