{% extends 'base.html' %}

{% block content %}
<main class="main">
  {% include 'included/breadcrumb.html' with page_name='Забыли пароль' %}

  <div class="container">
    <div class="heading mb-4">
      <h2 class="title">Сброс пароля</h2>
      <p>Пожалуйста, введите свой адрес электронной почты ниже, чтобы получить ссылку для сброса пароля.</p>
    </div><!-- End .heading -->

    <form action="#">
      <div class="form-group required-field">
        <label for="reset-email">Email</label>
        <input type="email" class="form-control" id="reset-email" name="reset-email" required>
      </div><!-- End .form-group -->

      <div class="form-footer">
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
      </div><!-- End .form-footer -->
    </form>
  </div><!-- End .container -->

  <div class="mb-10"></div>

</main><!-- End .main -->
{% endblock %}