{% extends 'base.html' %}

{% block content %}
<main class="main">
  {% include 'included/breadcrumb.html' with page_name='Вход' %}

  <div class="page-header">
    <div class="container">
      <h1>Вход или регистрация</h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">Вход</h2>
          <p>Если у вас есть учетная запись, пожалуйста, войдите в систему.</p>
        </div><!-- End .heading -->

        <form action="{% url 'login_form' %}" method="post">
          {% csrf_token %}

          <div class="form-error">{{ login_form.non_field_errors }}</div>

          {% for field in login_form %}
          {{ field }}
          <div class="form-error">{{ field.errors }}</div>
          {% endfor %}

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{% url 'forgot_password' %}" class="forget-pass"> Забыли пароль?</a>
          </div><!-- End .form-footer -->
        </form>
      </div><!-- End .col-md-6 -->

      <div class="col-md-6">
        <div class="heading">
          <h2 class="title">Регистрация</h2>
          <p>Создав учетную запись в нашем магазине, вы сможете быстрее проходить процесс оформления заказа, сохранять
            несколько адресов доставки, просматривать и отслеживать свои заказы в личном кабинете и многое другое.</p>
        </div><!-- End .heading -->

        <form action="{% url 'register_form' %}" method="post">
          {% csrf_token %}

          <div class="form-error">{{ register_form.non_field_errors }}</div>

          {% for field in register_form %}
          {{ field }}
          <div class="form-error">{{ field.errors }}</div>
          {% endfor %}

          <div class="form-footer">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
          </div><!-- End .form-footer -->
        </form>
      </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

</main><!-- End .main -->
{% endblock %}