{% extends 'base.html' %}

{% block content %}
<main class="main">

  <div class="mt-10"></div>

  <div class="container">
    <div class="heading mb-4">
      <h2 class="title">Сброс пароля</h2>
      <p>Пожалуйста, введите свой адрес электронной почты ниже, чтобы получить ссылку для сброса пароля.</p>
    </div><!-- End .heading -->

    <form action="" method="post">
      {% csrf_token %}

      <div class="form-group required-field">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        <div class="form-error">{{ form.email.errors }}</div>
      </div><!-- End .form-group -->

      <div class="form-footer">
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
      </div><!-- End .form-footer -->
    </form>
  </div><!-- End .container -->

  <div class="mb-10"></div>

</main><!-- End .main -->
{% endblock %}