{% load static %}
      <div class="row row-sm mb-5 home-banner4 text-center">
        <div class="col-sm-6">
          <div class="row row-sm home-banner4-white">
            <div class="col-md-4">
              <span>Летняя распродажа</span>
              <h3>20% скидка</h3>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <img class="banner-image" src="{% static 'images/banners/banner4.png' %}" alt="Картинка баннера">
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <button class="btn">Распродажа</button>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row row-sm home-banner4-primary">
            <div class="col-md-4">
              <span>Акция</span>
              <h3>30% скидка</h3>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <img class="banner-image" src="{% static 'images/banners/banner5.png' %}" alt="Картинка баннера">
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <button class="btn">Распродажа</button>
            </div>
          </div>
        </div>
      </div>