{% load static %}
  <header class="header">
    <div class="header-top">
      <div class="container">
        <div class="header-left header-dropdowns">
          <div class="header-dropdown">
            <a href="#">РУБ</a>
            <div class="header-menu">
              <ul>
                <li><a href="#">РУБ</a></li>
                <li><a href="#">CNY</a></li>
              </ul>
            </div><!-- End .header-menu -->
          </div><!-- End .header-dropown -->
        </div><!-- End .header-left -->

        <div class="header-right">
          <ul>
            <li><a href="dashboard.html">Личный кабинет</a></li>
            <li><a href="blog.html">Блог</a></li>
            <li><a href="contact.html">Контакты</a></li>
            <li><a href="login.html">Вход</a></li>
            <li><a href="login.html">Выход</a></li>
          </ul>
        </div>
      </div>
    </div><!-- End .header-top -->

    <div class="header-middle sticky-header">
      <div class="container">
        <div class="header-left">
          <button class="mobile-menu-toggler" type="button">
            <i class="icon-menu"></i>
          </button>
          <a href="index.html" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Shop Logo">
          </a>
          <nav class="main-nav">
            <ul class="menu">
              <li>
                <a href="index.html">Главная</a>
              </li>
              <li class="sf-with-ul">
                <a href="#">Каталог</a>
                <ul>
                  <li>
                    <a href="#">Велосипеды</a>
                    <ul>
                      <li><a href="#">Для взрослых</a></li>
                      <li><a href="#">Для детей</a></li>
                      <li><a href="#">Двухколесные</a></li>
                      <li><a href="#">Трехколесные</a></li>
                      <li><a href="#">Горные</a></li>
                      <li><a href="#">Складные</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Самокаты</a>
                    <ul>
                      <li><a href="#">Для взрослых</a></li>
                      <li><a href="#">Для детей</a></li>
                      <li><a href="#">Двухколесные</a></li>
                      <li><a href="#">Трехколесные</a></li>
                      <li><a href="#">Складные</a></li>
                      <li><a href="#">Электросамокаты</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Беговелы</a>
                    <ul>
                      <li><a href="#">Беговелы-самокаты</a></li>
                      <li><a href="#">Беговелы-каталки</a></li>
                      <li><a href="#">Беговелы 2 в 1</a></li>
                      <li><a href="#">Беговелы-машинки</a></li>
                      <li><a href="#">Спортивные</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Скейтборды</a>
                    <ul>
                      <li><a href="#">Детские</a></li>
                      <li><a href="#">Лонгборды</a></li>
                      <li><a href="#">Круизеры</a></li>
                      <li><a href="#">Пениборды</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Роликовые коньки</a>
                    <ul>
                      <li><a href="#">Детские</a></li>
                      <li><a href="#">Подростки</a></li>
                      <li><a href="#">Взрослые</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Прочие товары</a>
                    <ul>
                      <li><a href="#">Батуты</a></li>
                      <li><a href="#">Снегокаты</a></li>
                      <li><a href="#">Тюбинги</a></li>
                      <li><a href="#">Аксессуары и запчасти</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-right">
          <div class="header-search">
            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
            <form action="#" method="get">
              <div class="header-search-wrapper">
                <input type="search" class="form-control" name="seek" id="seek" placeholder="Я ишу..." required="">
                <div class="select-custom">
                  <select id="cat" name="cat">
                    <option value="">Все категории</option>
                    <option value="1">Велосипеды</option>
                    <option value="11">- Для взрослых</option>
                    <option value="12">- Для детей</option>
                    <option value="13">- Двухколесные</option>
                    <option value="14">- Трехколесные</option>
                    <option value="15">- Горные</option>
                    <option value="16">- Складные</option>
                    <option value="2">Самокаты</option>
                    <option value="21">- Для взрослых</option>
                    <option value="22">- Для детей</option>
                    <option value="23">- Двухколесные</option>
                    <option value="24">- Трехколесные</option>
                    <option value="25">- Складные</option>
                    <option value="26">- Электросамокаты</option>
                    <option value="3">Беговелы</option>
                    <option value="31">- Беговелы-самокаты</option>
                    <option value="32">- Беговелы-каталки</option>
                    <option value="33">- Беговелы 2 в 1</option>
                    <option value="34">- Беговелы-машинки</option>
                    <option value="35">- Спортивные</option>
                    <option value="36">- Cars and Trucks</option>
                    <option value="4">Скейтборды</option>
                    <option value="41">- Детские</option>
                    <option value="42">- Лонгборды</option>
                    <option value="43">- Круизеры</option>
                    <option value="44">- Пениборды</option>
                    <option value="5">Роликовые коньки</option>
                    <option value="51">- Детские</option>
                    <option value="52">- Подростки</option>
                    <option value="53">- Взрослые</option>
                    <option value="6">Прочие товары</option>
                    <option value="61">- Батуты</option>
                    <option value="62">- Снегокаты</option>
                    <option value="63">- Тюбинги</option>
                    <option value="64">- Аксессуары и запчасти</option>
                  </select>
                </div><!-- End .select-custom -->
                <button class="btn" type="submit"><i class="icon-search-3"></i></button>
              </div><!-- End .header-search-wrapper -->
            </form>
          </div>

          <div class="dropdown cart-dropdown">
            <a href="cart.html" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" data-display="static">
              <i class="minicart-icon"></i>
              <span class="cart-count">2</span>
            </a>

            <div class="dropdown-menu">
              <div class="dropdownmenu-wrapper">
                <div class="dropdown-cart-header">
                  <span>2</span>
                  <span>&nbsp;шт.</span>
                  <a href="cart.html">Просмотр корзины</a>
                </div><!-- End .dropdown-cart-header -->

                <div class="dropdown-cart-products">
                  <div class="product">
                    <div class="product-details">
                      <h4 class="product-title">
                        <a href="product.html">Велосипед</a>
                      </h4>
                      <span class="cart-product-info">
                        <span class="cart-product-qty">1</span>
                        x <span>12000</span> руб.
                      </span>
                    </div><!-- End .product-details -->

                    <figure class="product-image-container">
                      <a href="product.html" class="product-image">
                        <img src="{% static 'images/no-image.png' %}" alt="Товар в корзине">
                      </a>
                      <a href="#" class="btn-remove" title="Удалить товар"><i class="icon-retweet"></i></a>
                    </figure>
                  </div><!-- End .product -->

                  <div class="product">
                    <div class="product-details">
                      <h4 class="product-title">
                        <a href="product.html">Самокат</a>
                      </h4>
                      <span class="cart-product-info">
                        <span class="cart-product-qty">1</span>
                        x <span>3500</span> руб.
                      </span>
                    </div><!-- End .product-details -->

                    <figure class="product-image-container">
                      <a href="product.html" class="product-image">
                        <img src="{% static 'images/no-image.png' %}" alt="Товар в корзине">
                      </a>
                      <a href="#" class="btn-remove" title="Удалить товар"><i class="icon-retweet"></i></a>
                    </figure>
                  </div><!-- End .product -->
                </div><!-- End .cart-product -->

                <div class="dropdown-cart-total">
                  <span>Итого</span>
                  <span class="cart-total-price">15500</span><span>&nbsp;руб.</span>
                </div><!-- End .dropdown-cart-total -->

                <div class="dropdown-cart-action">
                  <a href="checkout-shipping.html" class="btn btn-block">Оформить заказ</a>
                </div><!-- End .dropdown-cart-total -->
              </div><!-- End .dropdownmenu-wrapper -->
            </div><!-- End .dropdown-menu -->
          </div><!-- End .dropdown -->
        </div>
      </div>
    </div>

    <div class="header-bottom">
      <div class="col-lg-4">
        <div class="service-widget">
          <i class="service-icon icon-shipping"></i>
          <div class="service-content">
            <h3 class="service-title">Бесплатная доставка и возврат</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-widget">
          <i class="service-icon icon-money"></i>
          <div class="service-content">
            <h3 class="service-title">Гарантия возврата денег</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-widget">
          <i class="service-icon icon-support"></i>
          <div class="service-content">
            <h3 class="service-title">online поддержка 24/7</h3>
          </div>
        </div>
      </div>
    </div>
  </header><!-- End .header -->
