{% load static %}
    <div class="home-banner mb-3 flex-wrap flex-md-nowrap">
      <div class="banner-left mb-1 mb-md-0 mx-auto ml-md-0 mr-md-3">
        <img src="{% static 'images/banners/banner1.jpg' %}" alt="Картинка баннера">
      </div>
      <div class="banner-right">
        <img src="{% static 'images/banners/banner2.jpg' %}" alt="Картинка баннера">
        <div class="banner-content">
          <h2>Будь готов</h2>
          <div class="mb-1">
            <h3 class="align-middle d-inline">20% скидка</h3>
            <a href="#" class="btn">Распродажа</a>
          </div>
          <h4 class="cross-txt">Велосипеды</h4>
        </div>
      </div>
    </div>
