.dropdown-cart-action .btn {
  font-weight: 700;
}

.footer-middle .container>.row>div:last-child {
  text-align: left;
}

.mobile-menu li a {
  font-weight: 700;
}

.footer .widget .widget-content .col-title {
  padding-left: 0;
  font-size: 1.2em;
  color: #ffffff;
}

.footer .widget .widget-content p, .footer .widget .widget-content a {
  font-size: 1em;
}

.footer .widget ul {
  margin-bottom: 10px;
}

.list li a {
  font-size: 1.3rem;
}

.home-banner .banner-content {
  margin-right: -3.4vw;
}

.page-header.page-header-bg {
  background-image: url('../images/banners/banner-top.jpg');
}
