{% load static %}
      <div class="col-lg-4">
        <div class="order-summary">
          <h3>Корзина</h3>

          <h4>
            <a data-toggle="collapse" href="#order-cart-section" class="collapsed" role="button" aria-expanded="false"
               aria-controls="order-cart-section">2 товара</a>
          </h4>

          <div class="collapse" id="order-cart-section">
            <table class="table table-mini-cart">
              <tbody>
              <tr>
                <td class="product-col">
                  <figure class="product-image-container">
                    <a href="{% url 'product' %}" class="product-image">
                      <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
                    </a>
                  </figure>
                  <div>
                    <h2 class="product-title">
                      <a href="{% url 'product' %}">Название товара</a>
                    </h2>

                    <span class="product-qty">Количество: 1</span>
                  </div>
                </td>
                <td class="price-col">1790 руб.</td>
              </tr>

              <tr>
                <td class="product-col">
                  <figure class="product-image-container">
                    <a href="{% url 'product' %}" class="product-image">
                      <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
                    </a>
                  </figure>
                  <div>
                    <h2 class="product-title">
                      <a href="{% url 'product' %}">Название товара</a>
                    </h2>

                    <span class="product-qty">Количество: 1</span>
                  </div>
                </td>
                <td class="price-col">790 руб.</td>
              </tr>
              </tbody>
            </table>
          </div><!-- End #order-cart-section -->
        </div><!-- End .order-summary -->
      </div><!-- End .col-lg-4 -->
