            <div class="checkout-step-shipping">
              <h2 class="step-title">Способы доставки</h2>

              <table class="table table-step-shipping">
                <tbody>
                  <tr>
                    <td><input type="radio" name="shipping-method" value="tc"></td>
                    <td>Транспортная компания</td>
                    <td><strong>2000 руб.</strong></td>
                  </tr>

                  <tr>
                    <td><input type="radio" name="shipping-method" value="post"></td>
                    <td>Почта России</td>
                    <td><strong>500 руб.</strong></td>
                  </tr>
                </tbody>
              </table>
            </div><!-- End .checkout-step-shipping -->
