{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <div class="category-banner">
    <div class="container">
      <div class="content-left">
        <span>СУПЕР</span>
        <h2>20% скидка</h2>
        <h4 class="cross-txt">ВЕЛОСИПЕДЫ</h4>
      </div>
      <div class="content-center">
        <img src="{% static 'images/banners/category_banner.png' %}" alt="Картинка баннера">
      </div>
      <div class="content-right">
        <p>Летняя распродажа</p>
        <button class="btn">Распродажа</button>
      </div>
    </div>
  </div>

  {% include 'included/breadcrumb.html' with page_name='Каталог' %}

  <div class="container">
    <div class="row row-sm">
      <div class="col-lg-10">
        <nav class="toolbox">
          <div class="toolbox-left">
            <div class="toolbox-item toolbox-sort">
              <div class="select-custom">
                <select name="orderby" class="form-control">
                  <option value="menu_order" selected="selected">Сортировка</option>
                  <option value="popularity">Популярные</option>
                  <option value="rating">По рейтингу</option>
                  <option value="date">Новинки</option>
                  <option value="price">Цена по возрастанию</option>
                  <option value="price-desc">Цена по убыванию</option>
                </select>
              </div><!-- End .select-custom -->

              <a href="#" class="sorter-btn" title="Set Ascending Direction">
                <span class="sr-only">Установите направление по возрастанию</span>
              </a>
            </div><!-- End .toolbox-item -->
          </div><!-- End .toolbox-left -->

          <!-- Product counter -->
          {% include 'products/included/product_counter.html' %}

          <div class="layout-modes">
            <a href="#" class="layout-btn btn-grid active" title="Сетка">
              <i class="icon-mode-grid"></i>
            </a>
            <a href="#" class="layout-btn btn-list" title="Список">
              <i class="icon-mode-list"></i>
            </a>
          </div><!-- End .layout-modes -->
        </nav>

        <div class="row row-sm">
          {% for num in product_range %}
          <div class="col-6 col-md-4 col-xl-3 product-grid">
            <div class="product-default inner-quickview inner-icon">
              <figure>
                <a href="{% url 'product' %}">
                  <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
                </a>
                <div class="btn-icon-group">
                  <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"
                          title="Добавить в корзину">
                    <i class="icon-bag"></i>
                  </button>
                </div>
                <a href="{% url 'quick_view' %}" class="btn-quickview">Быстрый просмотр</a>
              </figure>
              <div class="product-details">
                <div class="category-wrap">
                  <div class="category-list">
                    <a href="category.html" class="product-category">Категория</a>
                  </div>
                </div>
                <h2 class="product-title">
                  <a href="{% url 'product' %}">Товар {{ num }}</a>
                </h2>
                <div class="ratings-container">
                  <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                  </div><!-- End .product-ratings -->
                </div><!-- End .product-container -->
                <div class="price-box">
                  <span class="product-price">4900</span><span>&nbsp;руб.</span>
                </div><!-- End .price-box -->
              </div><!-- End .product-details -->
            </div>
          </div>

          <div class="col-6 col-sm-12 product-default left-details product-list product-hide">
            <figure>
              <a href="{% url 'product' %}">
                <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
              </a>
            </figure>
            <div class="product-details">
              <div class="category-list">
                <a href="catalog.html" class="product-category">Категория</a>
              </div>
              <h2 class="product-title">
                <a href="{% url 'product' %}">Товар {{ num }}</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
              </div><!-- End .product-container -->
              <p class="product-description">А ещё активно развивающиеся страны третьего мира и по сей день остаются
                уделом либералов, которые жаждут быть разоблачены. Предприниматели в сети интернет объективно
                рассмотрены соответствующими инстанциями. В целом, конечно, синтетическое тестирование прекрасно
                подходит для реализации глубокомысленных рассуждений.</p>
              <div class="price-box">
                <span class="product-price">4900</span><span>&nbsp;руб.</span>
              </div><!-- End .price-box -->
              <div class="product-action">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">
                  <i class="icon-bag"></i>Добавить в корзину
                </button>
                <a href="{% url 'quick_view' %}" class="btn-quickview" title="Быстрый просмотр">
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </div>
            </div><!-- End .product-details -->
          </div>
          {% endfor %}
        </div><!-- End .row -->

        <nav class="toolbox toolbox-pagination">
          <!-- Product counter -->
          {% include 'products/included/product_counter.html' %}

          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><span>...</span></li>
            <li class="page-item"><a class="page-link" href="#">15</a></li>
            <li class="page-item">
              <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div><!-- End .col-lg-9 -->

      <aside class="sidebar-shop col-lg-2 order-lg-first">
        <div class="sidebar-wrapper">
          <div class="widget">
            {% include 'products/included/catalog_menu.html' with cat_name='Велосипеды' number=1 %}
          </div><!-- End .widget -->

          <div class="widget">
            {% include 'products/included/catalog_menu.html' with cat_name='Самокаты' number=2 %}
          </div><!-- End .widget -->

          <div class="widget">
            {% include 'products/included/catalog_menu.html' with cat_name='Прочие товары' number=3 %}
          </div><!-- End .widget -->

          <div class="widget">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true"
                 aria-controls="widget-body-4">Цена</a>
            </h3>

            <div class="collapse show" id="widget-body-4">
              <div class="widget-body">
                <form action="#">
                  <div class="price-slider-wrapper">
                    <div id="price-slider"></div><!-- End #price-slider -->
                  </div><!-- End .price-slider-wrapper -->

                  <div class="filter-price-action">
                    <div class="filter-price-text">
                      Цена:
                      <span id="filter-price-range"></span>
                    </div><!-- End .filter-price-text -->
                    <button type="submit" class="btn btn-primary">Применить</button>
                  </div><!-- End .filter-price-action -->
                </form>
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

        </div><!-- End .sidebar-wrapper -->
      </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->
{% endblock %}

{% block add_cart_modal %}
{% include 'included/add_cart_modal.html' with link='#' dismiss='data-dismiss="modal"' %}
{% endblock %}

{% block product_grid_list %}
<script src="{% static 'js/switch-catalog-view.js' %}"></script>
{% endblock %}
