{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="home main">
{% include 'products/included/top_slider.html' %}

    <div class="container">
      {% block product-panel-top %}
      <section class="product-panel">
        <div class="section-title">
          <h2>Наиболее популярные товары</h2>
        </div>
        <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
          'margin': 4,
          'items': 2,
          'autoplayTimeout': 5000,
          'dots': false,
          'nav' : true,
          'responsive': {
            '768': {
              'items': 3
            },
            '992' : {
              'items' : 4
            },
            '1200': {
              'items': 5
            }
          }
        }">
          {% for num in product_range %}
          <div class="product-default inner-quickview inner-icon center-details">
            <figure>
              <a href="{% url 'product' %}">
                <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
              </a>
              <div class="label-group">
                <div class="product-label label-black">1<sup>o</sup></div>
              </div>
              <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">
                  <i class="icon-bag"></i>
                </button>
              </div>
              <a href="{% url 'quick_view' %}" class="btn-quickview">Быстрый просмотр</a>
            </figure>
            <div class="product-details">
              <div class="category-wrap">
                <div class="category-list">
                  <a href="{% url 'catalog' %}" class="product-category">Категория</a>
                </div>
              </div>
              <h2 class="product-title">
                <a href="{% url 'product' %}">Товар {{ num }}</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
              </div><!-- End .product-container -->
              <div class="price-box">
                <span class="old-price">5900</span><span>&nbsp;руб.</span>
                <span class="product-price">4900</span><span>&nbsp;руб.</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div>
          {% endfor %}
        </div>
      </section>
      {% endblock %}

<!-- Spare parts -->
{% include 'products/included/spare_parts.html' %}
    </div>

<!-- Home banner -->
{% include 'products/included/home_banner.html' %}

    <div class="container">
      {% block product-panel-bottom %}
      <section class="product-panel">
        <div class="section-title">
          <h2>Сопутствующие товары</h2>
        </div>
        <div class="owl-carousel owl-theme" data-toggle="owl" data-owl-options="{
          'margin': 4,
          'items': 2,
          'autoplayTimeout': 5000,
          'dots': false,
          'nav' : true,
          'responsive': {
            '768': {
              'items': 3
            },
            '992' : {
              'items' : 4
            },
            '1200': {
              'items': 5
            }
          }
        }">
          {% for num in product_range %}
          <div class="product-default inner-quickview inner-icon center-details">
            <figure>
              <a href="{% url 'product' %}">
                <img src="{% static 'images/no-image.png' %}" alt="Картинка товара">
              </a>
              <div class="btn-icon-group">
                <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">
                  <i class="icon-bag"></i>
                </button>
              </div>
              <a href="{% url 'quick_view' %}" class="btn-quickview">Быстрый просмотр</a>
            </figure>
            <div class="product-details">
              <div class="category-wrap">
                <div class="category-list">
                  <a href="{% url 'catalog' %}" class="product-category">Категория</a>
                </div>
              </div>
              <h2 class="product-title">
                <a href="{% url 'product' %}">Товар {{ num }}</a>
              </h2>
              <div class="ratings-container">
                <div class="product-ratings">
                  <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                </div><!-- End .product-ratings -->
              </div><!-- End .product-container -->
              <div class="price-box">
                <span class="old-price">1590</span><span>руб.</span>
                <span class="product-price">1490</span><span>руб.</span>
              </div><!-- End .price-box -->
            </div><!-- End .product-details -->
          </div>
          {% endfor %}
        </div>
      </section>
      {% endblock %}

<!-- Discount banner -->
{% include 'products/included/discount_banner.html' %}
    </div>
  </main><!-- End .main -->
{% endblock %}

{% block add_cart_modal %}
{% include 'products/included/add_cart_modal.html' %}
{% endblock %}
