{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
  {% include 'included/breadcrumb.html' with page_name='Продукт' %}

  <div class="container">
    <div class="row row-sm">
      <div class="col-lg-9 col-xl-10">
        <div class="product-single-container product-single-default">
          <div class="row">
            <div class="col-lg-4 col-md-6 product-single-gallery">
              <div class="product-slider-container product-item">
                <div class="product-single-carousel owl-carousel owl-theme">
                  <div class="product-item">
                    <img class="product-single-image" src="{{ product.image.url }}"
                         data-zoom-image="{{ product.image.url }}"/>
                  </div>
                  {% for item in images %}
                  <div class="product-item">
                    <img class="product-single-image" src="{{ item.image.url }}"
                         data-zoom-image="{{ item.image.url }}"/>
                  </div>
                  {% endfor %}
                </div>
                <!-- End .product-single-carousel -->
                <span class="prod-full-screen">
                  <i class="icon-plus"></i>
                </span>
              </div>
              <div class="prod-thumbnail row owl-dots" id='carousel-custom-dots'>
                <div class="col-3 owl-dot">
                  <img src="{{ product.image.url }}"/>
                </div>
                {% for item in images %}
                <div class="col-3 owl-dot">
                  <img src="{{ item.image.url }}"/>
                </div>
                {% endfor %}
              </div>
            </div><!-- End .col-lg-5 -->

            <div class="col-lg-8 col-md-6">
              <div class="product-single-details">
                <h1 class="product-title">{{ product.name }}</h1>

                <div class="ratings-container">
                  <div class="product-ratings">
                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                  </div><!-- End .product-ratings -->

                  <a href="{% url 'page_development' %}" class="rating-link">( 6 Reviews )</a>
                </div><!-- End .product-container -->

                <div class="price-box">
                  {% if product.discount %}
                  <span class="old-price">{{ product.price }}&nbsp;руб.</span>
                  {% endif %}
                  <span class="product-price">{{ product.get_discount_price }}</span><span>&nbsp;руб.</span>
                </div><!-- End .price-box -->

                <div class="product-desc">
                  <p>{{ product.description }}</p>
                </div><!-- End .product-desc -->

                <div class="product-action product-all-icons">
                  <a href="{% url 'cart' %}" class="paction add-cart">
                    Добавить в корзину
                  </a>
                </div><!-- End .product-action -->

              </div><!-- End .product-single-details -->
            </div><!-- End .col-lg-7 -->
          </div><!-- End .row -->
        </div><!-- End .product-single-container -->

      </div><!-- End .col-lg-9 -->

      <div class="sidebar-overlay"></div>
      <div class="sidebar-toggle"><i class="icon-right-open"></i></div>
      <aside class="sidebar-product col-lg-3 col-xl-2 padding-left-lg mobile-sidebar">
        <div class="sidebar-wrapper">
          <div class="widget widget-banner">
            <div class="banner banner-image">
              <a href="{% url 'catalog' %}">
                <img src="{% static 'images/banners/banner-sidebar.jpg' %}" alt="Картинка баннера">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .widget -->
        </div>
      </aside><!-- End .col-md-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="with-border-top">
    <div class="container">
    {% include 'information/included/product_slider.html' with heading='Похожие товары' %}
    </div>
  </div>
</main><!-- End .main -->
{% endblock %}

{% block add_cart_modal %}
{% include 'included/add_cart_modal.html' %}
{% endblock %}
